<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Doma</a> |
      <a [routerLink]="['user', 1]">
        Korisnik  1
      </a>
      |
      <a [routerLink]="['user', 2]">
        Korisnik 2
      </a>
      |
      <a [routerLink]="['konj', 1]">
        Korisnik 3
      </a>
      |
      <a [routerLink]="['konj', 'konj']">
        Korisnik 4
      </a>
      |
      <a [routerLink]="['konj', 'pokus']">
        Korisnik 5
      </a>
    </div>
  </div>
  <hr />
  <hr>
  <p *ngIf="userActivatedLosije">Activated lošije</p>
  <p *ngIf="userActivatedBolje">Activated bolje</p>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
