<div class="row">
  <div class="col-xs-12">
    <p>Dodaj novi server  ili kopiju</p>

    <label>Ime servera</label>
    <input type="text" class="form-control" value="text ime" #newServerName>

    <label>Sadržaj servera</label>
    <input type="text" class="form-control" value="bbb" [(ngModel)]="newServerContent">

    <label>Treci podatak</label>
    <input type="text" class="form-control" value="text dodatak" #treciPodatak>
    <br>

    <button class="btn btn-primary" (click)="onAddServer(newServerName)">Dodaj Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(newServerName)">Dodaj kopiju</button>
  </div>
</div>
